body {
    background-image:url("https://gmq12.github.io/image/background.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
}
div {
    background-color:rgba(254,254,254,0.8);
}
div.card {
    margin:1% 2%;
    padding:1%;
}
a {
    color:#2ca5c5;
    text-decoration:none;
}
a:hover {
    color:#2cc52c;
}
.center {
    text-align:center;
}
.float-left {
    float:left;
}
.float-right {
    float:right;
}
.small {
    font-size:"0.3em";
}
.big {
    font-size:"2em";
}
.huge {
    font-size:"6em";
}
.fblue {
    color:#2ca5c5;
}
.bblue {
    background-color:#2ca5c5;
}
.fred {
    color:#dc2b0a;
}
.bred {
    background-color:#dc2b0a;
}
.fgray {
    color:#3c3c3c;
}
.bgray {
    background-color:#3c3c3c;
}
.fwhite {
    color:#fefefe;
}
.bwhite {
    background-color:#fefefe;
}